.page-nonhome {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-wrapper-nonhome {
    flex-grow: 1;
    padding-top: 30px;
}

.site-footer {
    padding: 0;
    width: 100%;
}

.site-footer .container-fluid {
    padding: 0;
}

.site-footer .block {
    margin: 0;
}

.site-footer__top .content {
    font-size: 1.25rem;
}

.site-footer__top .content li a {
    border: 0;
}

#block-customfooter {
    width: 100%;
    text-align: center;
    background-color: #707070;
    color: white;
    font-size: 1.25rem;
}

#block-customfooter ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

#block-customfooter ul a {
    color: white;
}

#block-customfooter li {
    padding-bottom: 5px;
}

/* =========================================
Medium devices (tablets, 768px and up)
============================================ */
@media (min-width: 768px) {

    #block-customfooter li {
        display: inline-block;
        padding: 5px 20px;
    }

}

/* =========================================
Large devices (desktops, 992px and up)
============================================ */
@media (min-width: 992px) {

    #block-customfooter li {
        padding: 5px 40px;
    }

}