.page-nonhome {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper-nonhome {
  flex-grow: 1;
  padding-top: 30px;
}

.site-footer {
  padding: 0;
  width: 100%;
}

.site-footer .container-fluid {
  padding: 0;
}

.site-footer .block {
  margin: 0;
}

.site-footer__top .content {
  font-size: 1.25rem;
}

.site-footer__top .content li a {
  padding: 0.5em 2px 0.5em 20px;
  border: 0;
}

#block-sociallinksforfooter {
  width: 100%;
  text-align: center;
  background-color: #ccc8c8;
  color: #707070;
  font-size: 1.25rem;
  padding: 2rem 0;
}

#block-sociallinksforfooter ul {
  list-style: none;
  padding-left: 0;
}

#block-sociallinksforfooter ul a {
  color: #707070;
}

#block-sociallinksforfooter li {
  padding-bottom: 5px;
}

.member-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.member-pa img {
  width: 250px;
  height: 60px;
  margin-top: 30px;
}

.member-la img {
  width: 160px;
  height: 100px;
}

/* =========================================
Medium devices (tablets, 768px and up)
============================================ */
@media (min-width: 768px) {
  #block-sociallinksforfooter li {
    display: inline-block;
    padding: 5px 20px;
  }
  .member-icon-container {
    flex-direction: row;
  }
  .member-pa img {
    margin-top: 0;
    margin-left: 30px;
  }
}

/* =========================================
Large devices (desktops, 992px and up)
============================================ */
@media (min-width: 992px) {
  #block-sociallinksforfooter li {
    padding: 5px 40px;
  }
  #block-sociallinksforfooter ul {
    font-size: 1.75vw;
}

