/* Commerce stuff */

.highlight {
  background-color: purple;
}

#block-cart {
  background-color: rgb(209, 117, 92);
  border-radius: 20px;
  padding: 5px 15px;
}

.button--add-to-cart {
  background-color: rgb(209, 117, 92) !important;
  border-radius: 20px;
  text-align: center;
  border: none;
  padding: 3px 10px;
}

.form-number.form-control {
  max-width: 80px;
}

.cart-block--summary__icon img {
  width: 20px;
}

.sidebar h2 {
  /* text-shadow: none;
    border-bottom: none; */
  display: none;
}

.cart-block--summary__count {
  font-size: 1.25em;
  margin-left: 10%;
  color: #fff;
}

.cart-block--contents__links {
  background-color: rgb(209, 117, 92);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-right: 20px;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

.cart-block--contents__links a {
  text-transform: capitalize;
  margin-top: 10px;
  line-height: 30px;
  font-size: 1.5em;
}

.checkout-progress {
  background-color: rgb(209, 117, 92);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #fff;
}

/* new */

.product-title-nw {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.product-title-nw a {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 15px 0 5px 0;
}

.product-desc-short-nw,
.product-hide-payment {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.product-hide-payment {
  visibility: hidden;
  height: 10px;
}

.product-col-nw {
  padding-left: 0;
  margin-left: 0;
}

.product-img-nw,
.product-stock-nw {
  margin-top: 2rem;
}

#edit-field-drop-off-preference--wrapper .fieldset-legend {
  font-size: 1rem;
}

.field--name-quantity,
.js-form-item-quantity-0-value {
  padding-left: 0;
  margin-left: 0;
}

.field--name-field-dietary-preferences .form-group,
.field--name-field-dietary-preferences,
.field--name-field-drop-off-preference .form-group,
.field--name-field-drop-off-preference {
  padding-left: 0;
  margin-left: 0;
}

.commerce-order-item-add-to-cart-form .form-group#edit-actions {
  padding-left: 0;
}

.product-variations-nw {
  margin-top: 1rem;
}

#edit-purchased-entity-wrapper,
#edit-purchased-entity-0-attributes {
  padding-left: 0;
}

/* Adult/child option on the product */

fieldset[id^="edit-purchased-entity-0-attributes-attribute-customer-age"]
  .fieldset-legend {
  display: none;
}

fieldset[id^="edit-purchased-entity-0-attributes-attribute-customer-age"],
div[id^="edit-purchased-entity-0-attributes"],
div[id^="edit-purchased-entity-wrapper--"],
#edit-purchased-entity-0-attributes-attribute-customer-age--wrapper {
  padding-left: 0;
}

/* Diet option on the product */

/* fieldset[id^='edit-purchased-entity-0-attributes-attribute-customer-age'] .fieldset-legend */
#edit-field-dietary-preferences--wrapper .fieldset-legend {
  display: none;
}

#block-views-block-products-u-hope-block-1 h5,
#block-views-block-products-u-hope-block-2 h5,
#block-views-block-products-u-hope-block-3 h5 {
  background-color: #707070;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#block-views-block-products-u-hope-block-5,
#block-views-block-products-u-hope-block-4,
#block-sideblockproductsheaderimage {
  padding: 10px;
  margin-bottom: 4rem;
  text-align: center;
  width: 260px;
}

#block-sideblockproductsheaderimage {
  margin-top: 2rem;
}

.nav-order-products a,
.link-to-events-page a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background-color: #707070;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem 3rem;
  color: white;
  max-width: 40rem;
}

.nav-order-products a:hover,
.link-to-events-page a:hover {
  color: white;
}

.picked-freshly {
  color: black;
}

.nav-order-products {
  font-size: 1.5vw;
  font-weight: 500;
}

#block-views-block-products-u-hope-block-4 .row,
#block-views-block-products-u-hope-block-5 .row {
  display: flex;
  flex-direction: column;
}

#block-views-block-products-u-hope-block-4 img,
#block-views-block-products-u-hope-block-5 img {
  border-radius: 5px;
  margin-top: 2rem;
}

/* .events-uberclass .view-content {
  display: flex;
  justify-content: center;
} */

@media (max-width: 500px) {
  .views-field-edit-quantity .form-control {
    padding: 0;
  }
}

.region-featured-bottom-first,
.region-featured-bottom-second {
  justify-content: center;
}

.products-header-img {
  max-width: 650px;
  margin: 0 auto;
}

.products-header-img img {
  border-radius: 3%;
}

/* =========================================
Small devices (tablets, 500px and up)
============================================ */
@media (min-width: 500px) {
  #block-views-block-products-u-hope-block-5,
  #block-views-block-products-u-hope-block-4,
  #block-sideblockproductsheaderimage {
    width:320px;
  }
}

/* =========================================
Extra large devices (large desktops, 1200px and up)
============================================ */
@media (min-width: 1200px) {
  #block-views-block-products-u-hope-block-4,
  #block-views-block-products-u-hope-block-5 {
    width: 1000px;
  }
  #block-views-block-products-u-hope-block-4 .row,
  #block-views-block-products-u-hope-block-5 .row {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  #block-views-block-products-u-hope-block-4 img,
  #block-views-block-products-u-hope-block-5 img {
    max-width: 300px;
  }
  #block-views-block-products-u-hope-block-4,
  #block-views-block-products-u-hope-block-5 {
    text-align: center;
  }
  #block-views-block-products-u-hope-block-4 .product-title-nw,
  #block-views-block-products-u-hope-block-5 .product-title-nw {
    margin: 1rem 0;
  }
}
