@import "product.css";
@import "footer.css";

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a.nav {
  text-decoration: none;
}

a.active {
  background-color: rgb(209, 117, 92);
  border-radius: 30px;
}

a.nav-link:hover {
  text-decoration: underline;
}

.bg-primary {
  background-color: rgb(221, 247, 200);
}

#navbar-main.bg-primary {
  background-color: #707070 !important;
}

#block-heronav {
  display: none;
}

#block-barrio-sub-main-menu ul {
  list-style: none;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
}

#block-barrio-sub-main-menu li {
  border-bottom: 1px black solid;
}

#block-barrio-sub-main-menu li:last-child {
  border: none;
}

#block-barrio-sub-main-menu a {
  color: white;
}

#block-useraccountmenu,
#block-socialnavigation {
  display: block;
  width: 100%;
}

#block-useraccountmenu ul,
#block-socialnavigation ul {
  display: block;
  list-style: none;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
}

#block-useraccountmenu .nav-link {
  width: 100%;
  border-bottom: 2px solid rgb(201, 215, 190);
}

#block-socialnavigation li {
  width: 100%;
  border-bottom: 2px solid rgb(201, 215, 190);
}

#block-socialnavigation li:last-child {
  border: none;
}

/* #block-twitterfeedblock {
    margin: 0 3%;
} */

/* #block-twitterfeedblock .list-group-item {
    background-color: rgb(221, 247, 200);
    border: none;
} */

.sidebar nav ul.nav {
  display: block;
}
/* .tweet p {
    margin-bottom: 0;
} */

/* .twitter-feed .list-group-item {
    margin-bottom: 1rem;
    font-size: 1rem;
} */

.alert-wrapper {
  position: relative;
}

.feature-image img {
  border-radius: 20px;
  box-shadow: 0.2vw 0.2vw 5px #bfbcbc;
}

.article-image img {
  box-shadow: 0.2vw 0.2vw 5px #bfbcbc;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.blog-teaser-image img {
  box-shadow: 0.2vw 0.2vw 5px #bfbcbc;
  margin-bottom: 0;
  border-radius: 5px;
}

.tags-header {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.tag-link a {
  font-size: 0.75rem;
}

.field--name-field-tags2 .field__item {
  display: inline-block;
  margin-right: 0.5rem;
}

/* Card */

.card {
  border-radius: 10px;
  box-shadow: 0.2vw 0.2vw 5px #bfbcbc;
  /* margin-bottom: 2rem; */
}

.card-header {
  padding-top: 0.52rem;
  padding-bottom: 0.1rem;
}

.card-body {
  padding: 0 0.3rem;
  font-size: 1rem;
}

.card-body p {
  margin: 0 0;
}

.card-footer {
  padding: 0.3rem 1.25rem;
  text-align: center;
}

#block-views-block-events-block-1 h5,
#block-views-block-events-block-2 h5,
#block-views-block-events-block-3 h5 {
  background-color: #707070;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

.event-teaser-image a img {
  max-width: 200px;
}

/* Carousel */

#views-bootstrap-slideshow-block-1 .carousel-inner .carousel-item {
  /* height: 100vh; only used on larger displays */
  min-height: 200px;
  margin-bottom: 1rem;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-wrapper.front-only {
  /* to stop it taking up space on homepage */
  display: none;
}

#views-bootstrap-slideshow-block-2 .carousel-inner .carousel-item {
  /* height: 25%; */
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-articlemenubackground {
  display: none;
}

.blogrow {
  margin-bottom: 1.5rem;
}

img.image-style-gallery-image-style {
  border-radius: 5px;
  box-shadow: 0.2vw 0.2vw 5px #bfbcbc;
}

figcaption {
  background-color: rgb(223, 227, 222);
}

.embedded-entity img {
  border-radius: 4px 4px 0 0;
}

.embedded-entity.align-right {
  margin-left: 2rem;
}

.embedded-entity.align-left {
  margin-right: 2rem;
}

.event-date .datetime {
  font-weight: bold;
}

.event-image {
  padding-top: 1.5rem;
}

.grid .row {
  min-height: 1rem;
}

.event-list-title a {
  font-size: 1.25rem;
  line-height: 1em;
  margin-bottom: 0;
}

.event-list-title {
  margin-bottom: 0;
}

.event-teaser-img {
  margin-bottom: 0.2rem;
}

.event-list-date :nth-child(2) {
  display: none;
}

figcaption {
  font-size: 0.9rem;
}

.social-media-sharing ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.social-media-sharing ul li {
  margin: 0 5px;
}

.share img {
  width: 40px;
}

#block-twitterfeed {
  margin-top: 20px;
}

/* =========================================
Medium devices (tablets, 768px and up)
============================================ */
@media (min-width: 768px) {
  /* Carousel */

  #views-bootstrap-slideshow-block-1 .carousel-inner .carousel-item {
    height: 100vh; /* so scroll bars don't show */
  }

  /* Primary Navigation */

  #block-barrio-sub-main-menu {
    display: block;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    /* margin: 0 auto; */
    width: 95%;
    /* float: left; */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* top: 0%;
      left: 50%;
      -webkit-transform: translateX(-50%, 5%);
      transform: translateX(-50%, 5%); */
    z-index: 99;
  }

  #block-articlemenubackground {
    display: block;
    background-color: #707070;
    height: 6vw;
    width: 100%;
  }

  #block-bgfornoslidebypageurl {
    background-color: #707070;
    height: 6vw;
    width: 100%;
  }

  #block-barrio-sub-main-menu ul {
    display: inline-block;
    list-style: none;
    font-size: 1.75vw;
  }

  #block-barrio-sub-main-menu li {
    display: inline-block;
    margin: 1em;
  }

  #block-barrio-sub-main-menu a {
    float: left;
    padding: 1px 0.5vw;
  }

  #navbar-main {
    padding: 0;
  }

  /* Hero Navigation */

  #block-heronav {
    /* border: 1px solid black; */
    display: block;
    width: 35%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 1%);
    z-index: 1;
  }

  #block-heronav ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-size: 2vw;
    font-weight: 600;
    width: 90%;
    /* border: 1px solid black; */
  }

  #block-heronav li {
    display: inline-block;
    margin: 0 1vw;
  }

  #block-heronav a {
    color: white;
    padding: 1px 0.5vw;
  }

  /* Social Navigation */

  #block-sideblockgroup {
    display: block;
    padding-top: 0.5em;
    border-radius: 20px;
    /* background-color: rgb(239, 241, 240, 0.3); */
    background-color: #292f33;
    width: 20%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 8%;
    left: 85%;
    transform: translate(-50%, 1%);
    z-index: 1;
  }

  /* #block-twitterfeedblock li{
        border: none;
        color: white;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .twitter-feed .list-group-item {
        margin-bottom: 0.25rem;
        font-size: 1vw;
    } */

  #block-useraccountmenu ul,
  #block-socialnavigation ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2vw;
    line-height: 1em;
    font-weight: 400;
    width: 100%;
  }

  #block-useraccountmenu li,
  #block-socialnavigation li {
    text-align: center;
    width: 100%;
  }

  #block-sideblockgroup a {
    color: white;
    text-transform: lowercase;
  }

  #main-wrapper {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 0;
    margin-bottom: 2vw;
  }

  #main-wrapper.main-wrapper-nonhome {
    padding-top: 20px;
  }

  .event-wrapper {
    min-height: 13rem;
  }

  .card {
    width: 13rem;
  }

  #block-socialnavigation li {
    border-bottom: none;
  }

  #block-useraccountmenu .nav-link {
    border-bottom: none;
  }

  #block-barrio-sub-main-menu li {
    border-bottom: none;
  }

  /* #block-twitterfeedblock .list-group-item {
        background-color: rgb(239, 241, 240, 0);
    } */

  .event-list-title a {
    font-size: 1rem;
  }
}

/* =========================================
Large devices (desktops, 992px and up)
============================================ */
@media (min-width: 992px) {
  /* Hero Navigation */
  #block-heronav {
    top: 15%;
  }

  Social Navigation */ #block-sideblockgroup {
    display: block;
    padding-top: 0.5em;
    border-radius: 20px;
    /* background-color: rgb(239, 241, 240, 0.3); */
    background-color: #292f33;
    width: 20%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, 1%);
    z-index: 1;
  }

  #main-wrapper {
    margin-right: 20%;
    margin-left: 20%;
  }

  .event-wrapper {
    min-height: 12rem;
  }

  .event-list-title a {
    font-size: 1.25rem;
  }

  #block-useraccountmenu .nav-link {
    border-bottom: none;
  }
}

/* =========================================
Extra large devices (large desktops, 1200px and up)
============================================ */
@media (min-width: 1200px) {
  /* Hero Navigation */
  #block-heronav {
    top: 20%;
  }

  /* Social Navigation */
  #block-sideblockgroup {
    display: block;
    padding-top: 0.5em;
    border-radius: 20px;
    /* background-color: rgb(239, 241, 240, 0.3); */
    background-color: #292f33;
    width: 20%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, 1%);
    z-index: 1;
  }

  #main-wrapper {
    margin-top: 3%;
  }

  .event-wrapper {
    min-height: 15rem;
  }

  #block-useraccountmenu .nav-link {
    border-bottom: none;
  }
}
